<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>DPLK | Perta Life Insurance</title>

    <meta name="description" content="" />

    <link rel="icon" href="~/images/perta.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>

    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />

</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">

                    <a class="menu-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="app-brand-logo demo">
                            <svg width="25"
                                 viewBox="0 0 25 42"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                                          id="path-1"></path>
                                    <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                                          id="path-3"></path>
                                    <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                                          id="path-4"></path>
                                    <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                                          id="path-5"></path>
                                </defs>
                                <img src="/Images/logo-icon.png" width="150" height="150">

                            </svg>
                        </span>

                    </a>


                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">


                    <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>

                    <!-- Pension -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-layout"></i>
                            <div data-i18n="Pension">Pension</div>
                        </a>

                        <ul class="menu-sub">

                            <li class="menu-item" id="newBussiness">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="New Bussiness">New Bussiness</div>
                                </a>
                                <ul class="menu-sub" id="geserdong">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="NewBussinesCompany">
                                            <div data-i18n="Company">Company</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="NewBussinesPayCenter">
                                            <div data-i18n="PayCenter">Pay Center</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="NewBussinesGroupIndex">
                                            <div data-i18n="Group">Group</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="NewBussinesClientIndex">
                                            <div data-i18n="Client">Client</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Tambahkan CSS dan JavaScript seperti yang sebelumnya -->

                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Update">Update</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UpdateCompanyIndex">
                                            <div data-i18n="Company">Company</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UpdateGroupIndex">
                                            <div data-i18n="Group">Group</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UpdateClientIndex">
                                            <div data-i18n="Client">Client</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UpdateUploadDataIndex">
                                            <div data-i18n="Verifikasi Upload CS">Verifikasi Upload CS</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="VirtualAccount">
                                            <div data-i18n="Virtual Account">Virtual Account</div>
                                        </a>
                                    </li>

                                </ul>
                            </li>



                            @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pension" asp-action="Pension">Pension</a>
                            </li>*@

                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">

                                    <div data-i18n="Transaction">Transaction</div>
                                </a>

                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="ProcessClaimRequest">
                                            <div data-i18n="Prosses Claim Request">Prosses Claim Request</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-account.html" class="menu-link">
                                            <div data-i18n="Prosses Claim Request Report">Prosses Claim Request Report</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-security.html" class="menu-link">
                                            <div data-i18n="Withdrawal Estimation">Withdrawal Estimation</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-security.html" class="menu-link">
                                            <div data-i18n="Withdrawal Estimation PPUKP">Withdrawal Estimation PPUKP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="WithdrawalApproval">
                                            <div data-i18n="Withdrawal Requested Fund Approval">Withdrawal Requested Fund Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="WithdrawalEstimationApproval">
                                            <div data-i18n="Withdrawal Estimation Approval">Withdrawal Estimation Approval</div>
                                        </a>
                                    </li>

                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="WithdrawEditing">
                                            <div data-i18n="Editing Claim">Editing Claim</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="TransactionDeletingClaim">
                                            <div data-i18n="Delete Claim">Delete Claim</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-billing.html" class="menu-link">
                                            <div data-i18n="Delete Switching">Delete Switching</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="EntryPayrollContribution">
                                            <div data-i18n="Entry Payroll Contribution">Entry Payroll Contribution</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="BillContribution">
                                            <div data-i18n="Bill Contribution">Bill Contribution</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="FundSwitching">
                                            <div data-i18n="Fund Switching">Fund Switching</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="FundSwitchingByMoneyType">
                                            <div data-i18n="Fund Switching by Money Type">Fund Switching by Money Type</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="FundSwitchingRequestFundApproval">
                                            <div data-i18n="Fund Switching Requested Fund Approval">Fund Switching Requested Fund Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="CertificateMovement">
                                            <div data-i18n="Certificate Movement">Certificate Movement</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="CertificateMovementByMoneyType">
                                            <div data-i18n="Certificate Movement By Money Type">Certificate Movement By Money Type</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="CertificateChange">
                                            <div data-i18n="Certificate Change">Certificate Change</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="AdminSuspense">
                                            <div data-i18n="Admin Suspense">Admin Suspense</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="PaymentForApproval">
                                            <div data-i18n="Payment Approval">Payment Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                            <div data-i18n="Payout Suspense">Payout Suspense</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="SuspensePayoutApproval">
                                            <div data-i18n="Payout Suspense Approval">Payout Suspense Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="MutationsFunds">
                                            <div data-i18n="Mutations Funds">Mutations Funds</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="JoinAccount">
                                            <div data-i18n="Join Account">Join Account</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="EntryNota">
                                            <div data-i18n="Entry Nota Billing">Entry Nota Billing</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Join Account">Join Account</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Datar Notifikasi Claim Transfer">Datar Notifikasi Claim Transfer</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="DPLK + Rider">DPLK + Rider</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">                                      
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="SuratPengantarKartu">
                                            <div data-i18n="Surat Pengantar Kartu">Surat Pengantar Kartu</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="KartuIndividu">
                                            <div data-i18n="Pengantar Kartu Approval">Pengantar Kartu Approval</div>
                                        </a>
                                    </li>


                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Maintenance">Maintenance</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UnitPrice">
                                            <div data-i18n="Unit Price">Unit Price</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-security.html" class="menu-link">
                                            <div data-i18n="Accrue Fee">Accrue Fee</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-billing.html" class="menu-link">
                                            <div data-i18n="End Of Date">End Of Date</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Fill Temp Table">Fill Temp Table</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="AuditTrail">
                                            <div data-i18n="Audit Trail">Audit Trail</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="SetupPartner">
                                            <div data-i18n="Setup Parther">Setup Parther</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="SetupAgentIndex">
                                            <div data-i18n="Setup Agent">Setup Agent</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="AgentCommision">
                                            <div data-i18n="Setup Agent Commision">Setup Agent Commision</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="SetupBank">
                                            <div data-i18n="Setup Bank">Setup Bank</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="AdjustmentAccrueFee">
                                            <div data-i18n="Adjusment Acrue Fee">Adjusment Acrue Fee</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!--- Parameter --->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Pension">Parameter</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="ParameterMaker">
                                            <div data-i18n="Maker">Maker</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="PensionParameter" asp-action="ParameterApproval">
                                            <div data-i18n="Approval">Approval</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--- Parameter --->
                            <!--- Parameter --->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Pension">Upload Data</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UploadParticipant">
                                            <div data-i18n="Maker">Upload Participant </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="PensionParameter" asp-action="ParameterApproval">
                                            <div data-i18n="Approval">Upload Participant By Money Type</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--- Parameter --->

                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="UploadIndex">
                                    <div data-i18n="Upload Data">Upload Data</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Pension">Report </div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Pension" asp-action="ReportList">
                                            <div data-i18n="Maker">Report </div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="PensionParameter" asp-action="ParameterApproval">
                                            <div data-i18n="Approval">Upload Participant By Money Type</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </li>
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">

                        </span>
                    </li>
                    <!-- Accounting -->

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons bx bx-food-menu'></i>
                            <div data-i18n="Accounting">Accounting</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="SetupBankIndex">
                                    <div data-i18n="Setup Bank">Setup Bank</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="GLIndex">
                                    <div data-i18n="GL">GL</div>
                                </a>
                            </li>
                            <!---- Pajak---->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Pajak">Pajak</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="GLPajakIndex">
                                            <div data-i18n="GL Pajak">GL Pajak</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Laporan Pajak Non Final">Laporan Pajak Non Final</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Laporan Pajak Final">Laporan Pajak Final</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!---- Trial Balance---->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Trial Balance">Trial Balance</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="TB Maintenance">TB Maintenance</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="All Fund Trial Balance ">All Fund Trial Balance</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="All Fund Trial Balance V2">All Fund Trial Balance V2</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!---- Create FLP/FPP---->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Create FLP/FPP">Create FLP/FPP</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="CreateFLPFPPEntryFLP">
                                            <div data-i18n="Entry FLP">Entry FLP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="CreateFLPFPPEntryFPP">
                                            <div data-i18n="Query FLP Pending Approval">Query FLP Pending Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="CreateFLPFPPEntryFPP">
                                            <div data-i18n="Entry FPP">Entry FPP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Query FPP Pending Approval">Query FPP Pending Approval</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="app-user-view-notifications.html" class="menu-link">
                                    <div data-i18n="Investment FLP/FPP">Investment FLP/FPP</div>
                                </a>
                            </li>
                            <!---- CDV / CRV ---->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="CDV/CRV">CDV/CRV</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="UnapprovedPenerimaan">
                                            <div data-i18n="Un-approved Penenerimaan">Un-approved Penenerimaan</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="UnapprovedPembayaran">
                                            <div data-i18n="Un-approved Pembayaran">Un-approved Pembayaran</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="PostedCDVCRV">
                                            <div data-i18n="Posted CDV/CRV">Posted CDV/CRV</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!---- Memory Jurnal ---->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Memorial Jurnal">Memorial Jurnal</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="CreateJurnal">
                                            <div data-i18n="Create Jurnal">Create Jurnal</div>
                                        </a>
                                    </li>


                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="UnapprovedJurnalMemorial">
                                            <div data-i18n="Un-approved Jurnal Memorial">Un-approved Jurnal Memorial</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">

                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="PostedMemorialJurnal">
                                            <div data-i18n="Posted Memorial Jurnal">"Posted Memorial Jurnal</div>
                                        </a>
                                    </li>

                                </ul>

                            </li>
                            <!-- Delete Jurnal -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Delete Jurnal">Delete Jurnal</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="Accounting" asp-action="RequestDeleteJurnal">
                                            <div data-i18n="Request Delete Jurnal">Request Delete Jurnal</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Approve Delete Jurnal">Approve Delete Jurnal</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Delete Jurnal">Delete Jurnal</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Finance Report  -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Finance Report">Finance Report</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Generic Report">Generic Report</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="Accu Fund Report">Accu Fund Report</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="app-user-view-notifications.html" class="menu-link">
                                            <div data-i18n="PVR Report">PVR Report</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="app-invoice-add.html" class="menu-link">
                                    <div data-i18n="Upload Portofolio Investasi">Upload Portofolio Investasi</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="app-invoice-edit.html" class="menu-link">
                                    <div data-i18n="Close The Period">Close The Period</div>
                                </a>
                            </li>


                        </ul>
                    </li>

                    <!-- Cash Management -->

                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Cash Management">Cash Management</div>
                        </a>
                        <ul class="menu-sub">
                            <!-- Create FLP/FLP  -->
                            <li class="menu-item">

                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Create FLP/FPP">Create FLP/FPP</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="EnterFLP">
                                            <div data-i18n="Entry FLP">Enter FLP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="QueryFLPPendingApproval">
                                            <div data-i18n="Query FLP Pending Approval">Query FLP Pending Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="EnterFPP">
                                            <div data-i18n="Entry FPP">Enter FPP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="QueryFPPPendingApproval">
                                            <div data-i18n="Query FPP Pending Approval">Query FPP Pending Approval</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="UnapprovedReceipts">
                                    <div data-i18n="Un-approved Penenerimaan">Unapproved Receipts</div>
                                </a>

                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="UnapprovedPayment">
                                    <div data-i18n="Un-approved Pembayaran">Unapproved Payments</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="RostedCDVCRV">
                                    <div data-i18n="Rosted CDV/CRV">Rosted CDV/CRV</div>
                                </a>
                            </li>
                            <!-- DB Direct  -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="DB Direct">DB Direct</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="CreateDBDirect">
                                            <div data-i18n="Create DB Direct">Create DB Direct</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="CreateInHouseTransferDBDirect">
                                            <div data-i18n="Create DB Direct Inhouse Transfer">Create In-house Transfer DB Direct</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="CreateDBDirectFormFLPFPP">
                                            <div data-i18n="Create DB Direct From FLP/FPP">Create DB Direct From FLP/FPP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="CreateDBDirect">
                                            <div data-i18n="Create DB Direct BIT">Create BIT DB Direct</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="BankList">
                                    <div data-i18n="Bank List">Bank List</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="ClaimRequestAmount">
                                    <div data-i18n="Claim Requested Ammount">Claim Requested Amount</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="FundSwitchingClaimReqFundApproval">
                                    <div data-i18n="Fund Switching Claim Requested Fund Approval">Fund Switching Claim Requested Fund Approval</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CashManagement" asp-action="UploadClaimTransferDate">
                                    <div data-i18n="Upload Claim Transfer Date">Upload Claim Transfer Date</div>
                                </a>
                            </li>
                            @*<li class="menu-item">
                            <a href="app-user-list.html" class="menu-link">
                            <div data-i18n="Upload Claim Transfer Date">Upload Claim Transfer Date</div>
                            </a>
                            </li>*@
                        </ul>
                    </li>



                    <!-- Investment Management -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons bx bx-check-shield'></i>
                            <div data-i18n="Investment Management">Investment Management</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="UnapprovedReceiptIndex">
                                    <div data-i18n="UnapprovedReceiptIndex">Unapproved Receipt </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="UnapprovedPaymentsIndex">
                                    <div data-i18n="Unapproved Payments">Unapproved Payments </div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="PostedJournals">
                                    <div data-i18n="Posted Jurnal">Posted Journals</div>
                                </a>
                            </li>
                            <!-- Request Amount  -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Request Amount">Request Amount</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="ClaimRequestAmount">
                                            <div data-i18n="Claim Request Amount">Claim Request Amount</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="FundSwitchingReqFundApproval">
                                            <div data-i18n="Fund Switching Requested Fund Approval">Fund Switching Requested Fund Approval</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="CreateDBDirectFromFLPFPP">
                                            <div data-i18n="Create DB Direct From FLP/FPP">Create DB Direct From FLP/FPP</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="InvestmentManagement" asp-action="CreateDBDirectBIT">
                                            <div data-i18n="Create DB Direct BIT">Create DB Direct BIT</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- Customer Service -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-support"></i>
                            <div data-i18n="Customer Service">Customer Service</div>
                        </a>

                        <ul class="menu-sub">
                            <!-- Claim Register  -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Claim Register">Claim Register</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="SearchClaimReg">
                                            <div data-i18n="Search">Search</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="CreateClaimReg">
                                            <div data-i18n="Create">Create</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="SetupBasicRequestClaim">
                                            <div data-i18n="Setup Basic Request Claim">Setup Basic Request Claim</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="InquiriesCS">
                                    <div data-i18n="Inquiries">Inquiries</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="ClientInfo">
                                    <div data-i18n="Client Info">Client Info</div>
                                </a>
                            </li>
                            <!-- Mandiri II  -->
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Mandiri II">Mandiri II</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="SearchMandiri">
                                            <div data-i18n="Search">Search</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="RegistrasiMandiri2">
                                            <div data-i18n="Registrasi Mandiri II">Registrasi Mandiri II</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="ProcessMandiri2">
                                            <div data-i18n="Procces Mandiri II">Process Mandiri II</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="ClientSuratPengantarPengalihan">
                                            <div data-i18n="Client Surat Pengantar Pengalihan">Client Surat Pengantar Pengalihan</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="SuratPengalihan">
                                            <div data-i18n="Surat Pengalihan">Surat Pengalihan</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Report">Report</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="RekapitulasiPesertaMandiri2">
                                            <div data-i18n="Rekapitulasi Peserta Mandiri II">Rekapitulasi Peserta Mandiri II</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a class="menu-link" asp-area="" asp-controller="CustomerService" asp-action="RekapitulasiKlaimPeserta">
                                            <div data-i18n="Rekapitulasi Klaim Peserta">Rekapitulasi Klaim Peserta</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- Client Inquiry -->
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="ClientInquiry" asp-action="Index">
                            <i class="menu-icon tf-icons bx bx-support"></i>
                            <div data-i18n="Client Inquiry">Client Inquiry</div>
                        </a>
                </ul>
                <ul>
                    <li class="menu-item">
                        <a class="menu-link" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
                            <div data-i18n="Logout">Logout</div>
                        </a>
                    </li>
                </ul>



            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">


               @* <nav class=" layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme rainbow-border" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <!-- Investment Management menu item with dropdown -->
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="investmentManagementDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                Investment Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="investmentManagementDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="UnapprovedReceiptIndex">
                                    <div data-i18n="UnapprovedReceiptIndex">Unapproved Receipt </div>
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="UnapprovedPaymentsIndex">
                                    <div data-i18n="Unapproved Payments">Unapproved Payments </div>
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="UnapprovedPaymentsIndex">
                                    <div data-i18n="Posted Journals">Posted Journals </div>
                                </a>
   
                                <a class="dropdown-item dropdown-toggle" href="#" role="button" id="requestAmountDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Request Amount
                                </a>
                                <div class="dropdown-menu" aria-labelledby="requestAmountDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="ClaimRequestAmount">Claim Request Amount</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="FundSwitchingReqFundApproval">Fund Switching Requested Fund Approval</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="CreateDBDirectFromFLPFPP">Create DB Direct From FLP/FPP</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="InvestmentManagement" asp-action="CreateDBDirectBIT">Create DB Direct BIT</a>
                                </div>
                                <!-- End of nested dropdown -->
                            </div>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="investmentManagementDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                Transaction
                            </a>
                            <div class="dropdown-menu" aria-labelledby="investmentManagementDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="ProcessClaimRequest">
                                    Prosses Claim Request
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="ProcessClaimRequest">
                                    Prosses Claim Request Report
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="ProcessClaimRequest">
                                    <div data-i18n="Withdrawal Estimation">Withdrawal Estimation</div>
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="ProcessClaimRequest">
                                    <div data-i18n="Withdrawal Estimation PPUKP">Withdrawal Estimation PPUKP</div>
                                </a>
                                <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="WithdrawalApproval">
                                    <div data-i18n="Withdrawal Requested Fund Approval">Withdrawal Requested Fund Approval</div>
                                </a>
                                <a class="dropdown-item dropdown-toggle" href="#" role="button" id="moreDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </a>
                                <div class="dropdown-menu dropdown-menu-start" aria-labelledby="moreDropdown" id="moreDropdownMenu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="WithdrawalEstimationApproval">
                                        <div data-i18n="Withdrawal Estimation Approval">Withdrawal Estimation Approval</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="TransactionEditingClaim">
                                        <div data-i18n="Editing Claim">Editing Claim</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="TransactionDeletingClaim">
                                        <div data-i18n="Delete Claim">Delete Claim</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="TransactionDeletingClaim">
                                        <div data-i18n="Delete Switching">Delete Switching</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="EntryPayrollContribution">
                                        <div data-i18n="Entry Payroll Contribution">Entry Payroll Contribution</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="BillContribution">
                                        <div data-i18n="Bill Contribution">Bill Contribution</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="FundSwitching">
                                        <div data-i18n="Fund Switching">Fund Switching</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="FundSwitchingByMoneyType">
                                        <div data-i18n="Fund Switching by Money Type">Fund Switching by Money Type</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="FundSwitchingRequestFundApproval">
                                        <div data-i18n="Fund Switching Requested Fund Approval">Fund Switching Requested Fund Approval</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="CertificateMovement">
                                        <div data-i18n="Certificate Movement">Certificate Movement</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="CertificateMovementByMoneyType">
                                        <div data-i18n="Certificate Movement By Money Type">Certificate Movement By Money Type</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="CertificateChange">
                                        <div data-i18n="Certificate Change">Certificate Change</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="AdminSuspense">
                                        <div data-i18n="Admin Suspense">Admin Suspense</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PaymentForApproval">
                                        <div data-i18n="Payment Approval">Payment Approval</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Payout Suspense">Payout Suspense</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Payout Suspense Approval">Payout Suspense Approval</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Mutations Funds">Mutations Funds</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Join Account">Join Account</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Emtry Nota Billing">Emtry Nota Billing</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Datar Notifikasi Claim Transfer">Datar Notifikasi Claim Transfer</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="DPLK + Rider">DPLK + Rider</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Surat Pengantar Kartu">Surat Pengantar Kartu</div>
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pension" asp-action="PayoutSuspense">
                                        <div data-i18n="Pengantar Kartu Approval">Pengantar Kartu Approval</div>
                                    </a>


                                </div>
                            </div>
                        </li>



                    </ul>

                </nav>
             *@

                <script>
                    const moreDropdown = document.getElementById("moreDropdown");
                    const moreDropdownMenu = document.querySelector("#moreDropdown + .dropdown-menu");

                    moreDropdown.addEventListener("mouseenter", () => {
                        const rect = moreDropdown.getBoundingClientRect();
                        const parentRect = moreDropdown.closest('.dropdown-menu').getBoundingClientRect();
                        moreDropdownMenu.style.top = `${rect.top - parentRect.top}px`;
                        moreDropdownMenu.style.left = `${rect.right - parentRect.left}px`;
                        moreDropdownMenu.classList.add("show");
                    });

                    moreDropdown.addEventListener("mouseleave", () => {
                        moreDropdownMenu.classList.remove("show");
                    });

                    moreDropdownMenu.addEventListener("mouseenter", () => {
                        moreDropdownMenu.classList.add("show");
                    });

                    moreDropdownMenu.addEventListener("mouseleave", () => {
                        moreDropdownMenu.classList.remove("show");
                    });
                </script>



                <script>
                    const requestAmountDropdown = document.getElementById("requestAmountDropdown");
                    const requestAmountMenu = document.querySelector("#requestAmountDropdown + .dropdown-menu");
                    requestAmountDropdown.addEventListener("mouseenter", () => {
                        const rect = requestAmountDropdown.getBoundingClientRect();
                        const parentRect = requestAmountDropdown.closest('.dropdown-menu').getBoundingClientRect();
                        requestAmountMenu.style.top = `${rect.top - parentRect.top}px`;
                        requestAmountMenu.style.left = `${rect.right - parentRect.left}px`;
                        requestAmountMenu.classList.add("show");
                    });
                    requestAmountDropdown.addEventListener("mouseleave", () => {
                        requestAmountMenu.classList.remove("show");
                    });
                    requestAmountMenu.addEventListener("mouseenter", () => {
                        requestAmountMenu.classList.add("show");
                    });
                    requestAmountMenu.addEventListener("mouseleave", () => {
                        requestAmountMenu.classList.remove("show");
                    });
                </script>







                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">


                        @RenderBody()




                    </div>
                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                <span id="currentYear"></span>
                            </div>
                            <div class="footer-right">
                                by <a href="https://www.pertalife.com/" target="_blank" class="footer-link fw-bolder">Perta Life Insurance</a>
                            </div>
                        </div>
                        <div class="container-xxl d-flex justify-content-end">
                            <div id="currentTime"></div>
                        </div>
                    </footer>

                    <script>
                        const currentYearElement = document.getElementById('currentYear');
                        const currentTimeElement = document.getElementById('currentTime');

                        function updateTime() {
                            const currentDate = new Date();
                            const currentYear = currentDate.getFullYear();
                            const day = currentDate.toLocaleDateString('en-US', { weekday: 'long' });
                            const date = currentDate.toLocaleDateString('en-US');
                            const timeOptions = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
                            const currentTime = currentDate.toLocaleTimeString('en-US', timeOptions);

                            currentYearElement.innerText = currentYear;
                            currentTimeElement.innerText = `${day}, ${date} | ${currentTime}`;
                        }

                        updateTime(); //
                        setInterval(updateTime, 1000); //
                    </script>






                    <!-- / Footer -->


                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="../assets/js/dashboards-analytics.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

@RenderBody()
</html>
@RenderSection("Scripts", required: false)

