
@model DPLK.Models.Dto.Login

@{
    Layout = "_AutLayout";
}

<div>
    <p class="text-center mb-4">
        Dana Pensiun Lembaga Keuangan
    </p>
    @{
        var loginSuccessMessage = Context.Request.Cookies["LoginSuccessMessage"];
        if (!string.IsNullOrEmpty(loginSuccessMessage))
        {
            <div class="alert alert-success">@loginSuccessMessage</div>
            Context.Response.Cookies.Delete("LoginSuccessMessage");
        }
        else if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }

        var logoutMessage = Context.Request.Cookies["LogoutMessage"];
        if (!string.IsNullOrEmpty(logoutMessage))
        {
            <div class="alert alert-info">@logoutMessage</div>
            Context.Response.Cookies.Delete("LogoutMessage");
        }

        var loginErrorMessage = Context.Request.Cookies["LoginErrorMessage"];
        if (!string.IsNullOrEmpty(loginErrorMessage))
        {
            <div class="alert alert-danger">@loginErrorMessage</div>
            Context.Response.Cookies.Delete("LoginErrorMessage");
        }
    } 
    <form  class="mb-3" asp-action="Login" method="post" >
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">USER ID </label>
            <input asp-for="Email" value="usertestone@pertalife.com" class="form-control" placeholder="Enter your USER ID" autofocus>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
                <label asp-for="Password" class="form-label">Password</label>
            </div>
            <div class="input-group input-group-merge">
                <input type="password" id="Password" value="testing123" class="form-control" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">LOGIN</button>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
