@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Pension /</span> Parameter - Approval 
</h4>

<div class="demo-inline-spacing">
    <a asp-action="ParameterApprovalIDTypeIndex" asp-controller="PensionParameter" class="btn btn-success">ID Type</a>

    <a asp-action="ParameterApprovalAddressTypeIndex" asp-controller="PensionParameter" class="btn btn-success">Address Type</a>











    <!-- Konten view ParameterMaker -->
</div>
