@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}


<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Pension / </span> Transaction - Fund Switching Request Fund Approval</h4>

<div class="mb-2">
    <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar-ex-2"
                    aria-controls="navbar-ex-2"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-ex-2">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark mx-2">Save</button>
                    </li>
          
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-dark mx-2">Validate </button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
