@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Pension /</span> Parameter - Maker
</h4>

<!-- Konten view ParameterMaker -->
<div class="demo-inline-spacing">
    <a asp-action="ParameterMakerAddressTypeIndex" asp-controller="Pension" class="btn btn-info">Address Type</a>
    <a asp-action="ParameterMakerIDTypeIndex" asp-controller="Pension" class="btn btn-info">ID Type</a>
    <a asp-action="ParameterMakerSecTypeIndex" asp-controller="Pension" class="btn btn-info">Sec Type</a>
    <a asp-action="ParameterMakerSecutiyTypeIndex" asp-controller="Pension" class="btn btn-info">Security Type</a>
    <a asp-action="ParameterMakerAppStatusTypeIndex" asp-controller="Pension" class="btn btn-info">Appication Status</a>
    <a asp-action="ParameterMakerInvestmentType" asp-controller="Pension" class="btn btn-info">Investment Type</a>
    <a asp-action="ParameterMakerJobFunction" asp-controller="Pension" class="btn btn-info">Job Function</a>
    <a asp-action="ParameterMakerMailingAddressType" asp-controller="Pension" class="btn btn-info">Mailing Address Type</a>
    <a asp-action="ParameterMakerJobLevelType" asp-controller="Pension" class="btn btn-info">Job Level Type</a>
    <a asp-action="ParameterMakerProvince" asp-controller="Pension" class="btn btn-info">Province</a>
    <a asp-action="ParameterBeneficiaryRelationType" asp-controller="Pension" class="btn btn-info">Beneficiary Relation Type</a>
    <a asp-action="ParameterMakerMaturityType" asp-controller="Pension" class="btn btn-info">Maturity Type</a>
    <a asp-action="ParameterMcpType" asp-controller="Pension" class="btn btn-info">MCP Type</a>
    <a asp-action="ParameterSunGLType" asp-controller="Pension" class="btn btn-info">Sun GL Type</a>
    <a asp-action="ParameterMakerChargeType" asp-controller="Pension" class="btn btn-info">Charge Type</a>
    <a asp-action="ParameterMakerMoneySource" asp-controller="Pension" class="btn btn-info">Money Source</a>
    <a asp-action="ParameterMakerMoneyType" asp-controller="Pension" class="btn btn-info">Money Type</a>
    <a asp-action="ParameterMakerSuspenseAdminApprovalType" asp-controller="Pension" class="btn btn-info">Suspense Admin Approval Type</a>
    <a asp-action="ParameterMakerSuspenseFinanceApproveType" asp-controller="Pension" class="btn btn-info">Suspense Finance Approve Type</a>
    <a asp-action="ParameterMakerChargesRateDetail" asp-controller="Pension" class="btn btn-info">Charges Rate Detail</a>
    <a asp-action="ParameterMakerChargesRateMaster" asp-controller="Pension" class="btn btn-info">Chargers Rate Master</a>
    <a asp-action="ParameterMakerPaymentApprovalType" asp-controller="Pension" class="btn btn-info"> Payment Approval Type</a>
    <a asp-action="ParameterMakerSuspenseStatusType" asp-controller="Pension" class="btn btn-info">Suspence Status Type</a>
    <a asp-action="ParameterMakerCitizenship" asp-controller="Pension" class="btn btn-info"> Citizenship</a>
    <a asp-action="ParameterMakerCOIStatusRate" asp-controller="Pension" class="btn btn-info">COI Status Rate</a>
    <a asp-action="ParameterMakerCOISourceType" asp-controller="Pension" class="btn btn-info">COI Source Type</a>
    <a asp-action="ParameterMakerCommisionRelationType" asp-controller="Pension" class="btn btn-info">Commision Relation Type</a>
    <a asp-action="ParameterMakerCommisionTitleType" asp-controller="Pension" class="btn btn-info">Commision Type</a>
    <a asp-action="ParameterMakerCreditCardType" asp-controller="Pension" class="btn btn-info">CreditCard Type</a>
    <a asp-action="ParameterMakerCurrency" asp-controller="Pension" class="btn btn-info">Currency Type</a>
    <a asp-action="ParameterMakerDBInternalAccountNumber" asp-controller="Pension" class="btn btn-info">DB Internal Account Number </a>
    <a asp-action="ParameterMakerExceptionType" asp-controller="Pension" class="btn btn-info">Exception Type </a>
    <a asp-action="ParameterMakerFrequencyType" asp-controller="Pension" class="btn btn-info">Frequency Type </a>
    <a asp-action="ParameterMakerFundSourceType" asp-controller="Pension" class="btn btn-info">Fund Source Type </a>
    <a asp-action="ParameterMakerPaymentResponsibilityType" asp-controller="Pension" class="btn btn-info">Payment Responbility Type </a>
    <a asp-action="ParameterPaymentTransactionType" asp-controller="Pension" class="btn btn-info"> Payment Transaction Type </a>
    <a asp-action="ParameterMakerPaymentType" asp-controller="Pension" class="btn btn-info"> Payment Type </a>
    <a asp-action="ParameterMakerPhoneType" asp-controller="Pension" class="btn btn-info"> Phone Type </a>
    <a asp-action="ParameterMakerPIC" asp-controller="Pension" class="btn btn-info"> PIC Setup </a>
    <a asp-action="ParameterMakerPremiumMethod" asp-controller="Pension" class="btn btn-info"> Premium Method </a>
    <a asp-action="ParameterMakerPremiumType" asp-controller="Pension" class="btn btn-info"> Premium Type </a>
    <a asp-action="ParameterMakerProductType" asp-controller="Pension" class="btn btn-info"> Products Type </a>
    <a asp-action="ParameterMakerPSLType" asp-controller="Pension" class="btn btn-info"> PSL Type </a>
    <a asp-action="ParameterMakerRiderType" asp-controller="Pension" class="btn btn-info"> Rider Type </a>
    <a asp-action="ParameterMakerRoleType" asp-controller="Pension" class="btn btn-info"> Role Type </a>
    <a asp-action="ParameterMakerBenefit" asp-controller="Pension" class="btn btn-info"> Benefit Type </a>
    <a asp-action="ParameterMakerVACurrencyType" asp-controller="Pension" class="btn btn-info"> Setup VA Currency </a>
    <a asp-action="ParameterMakerVAOrganisation" asp-controller="Pension" class="btn btn-info"> Setup VA Organisation </a>
    <a asp-action="ParameterMakerVAProductType" asp-controller="Pension" class="btn btn-info"> Setup VA Product </a>














    <!-- Konten view ParameterMaker -->
</div>
