@model DPLK.Models.AgentMaster
@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h2>Setup Agent</h2>
@if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div class="card mb-4">
    <div class="card-body">
        <form asp-action="SetupAgentCreate" method="post">
            <div class="mb-3 row">
                <label asp-for="AgentNmbr" class="col-md-2 col-form-label">Agent Number</label>
                <div class="col-md-4">
                    <input asp-for="AgentNmbr" class="form-control" />
                </div>
                <label asp-for="AgentNm" class="col-md-2 col-form-label">Agent Name</label>
@*                <button type="button" class=" col-md-2  btn btn-primary" id="searchAgentButton">Search</button>
*@                <div class="col-md-4">
                    <input asp-for="AgentNm" class="form-control" />
                </div>
            </div>
            
            <div class="mb-3 row">
                <label asp-for="OldAgentNmbr" class="col-md-2 col-form-label">Old Agent Number</label>
                <div class="col-md-4">
                    <input asp-for="OldAgentNmbr" class="form-control" />
                </div>
              
            </div>

            <div class="mb-3 row">
                <label asp-for="EmployeeCode" class="col-md-2 col-form-label">Employee Code</label>
                <div class="col-md-4">
                    <input asp-for="EmployeeCode" class="form-control" />
                </div>
                <label asp-for="BirthDt" class="col-md-2 col-form-label">Birth Date</label>
                <div class="col-md-4">

                    <input asp-for="BirthDt" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="Address" class="col-md-2 col-form-label">Address</label>
                <div class="col-md-4">

                    <textarea asp-for="Address" aria-label="With textarea" class="form-control"></textarea>

                </div>
                <label asp-for="City" class="col-md-2 col-form-label">City</label>
                <div class="col-md-4">

                    <input asp-for="City" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="PostalCd" class="col-md-2 col-form-label">Postal Code</label>
                <div class="col-md-4">
                    <input asp-for="PostalCd" class="form-control" />
                </div>
                <label asp-for="PhoneNmbr" class="col-md-2 col-form-label">Phone Number</label>
                <div class="col-md-4">

                    <input asp-for="PhoneNmbr" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="MobilePhone" class="col-md-2 col-form-label">Mobile Phone</label>
                <div class="col-md-4">

                    <input asp-for="MobilePhone" class="form-control" />
                </div>
                <label asp-for="Email" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-4">

                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="AcctNmbr" class="col-md-2 col-form-label">Account Number</label>
                <div class="col-md-4">
                    <input asp-for="AcctNmbr" class="form-control" />
                </div>
                <label asp-for="AcctNm" class="col-md-2 col-form-label">Account Name</label>
                <div class="col-md-4">

                    <input asp-for="AcctNm" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="BankNm" class="col-md-2 col-form-label">Bank Name</label>
                <div class="col-md-4">

                    <input asp-for="BankNm" class="form-control" />
                </div>
                <label asp-for="BankAddress" class="col-md-2 col-form-label">Bank Address</label>
                <div class="col-md-4">

                    <textarea asp-for="BankAddress" aria-label="With textarea" class="form-control"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="AgentStatus" class="col-md-2 col-form-label">Agent Status</label>
                <div class="col-md-4">

                    <input asp-for="AgentStatus" class="form-control" />
                </div>
                <label asp-for="TaxIdNmbr" class="col-md-2 col-form-label">Tax ID Number</label>
                <div class="col-md-4">
                    <input asp-for="TaxIdNmbr" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label asp-for="AgentType" class="col-md-2 col-form-label">Agent Type</label>
                <div class="col-md-4">

                    <input asp-for="AgentType" class="form-control" />
                </div>
                <label asp-for="OldAgentNmbr" class="col-md-2 col-form-label">Old Agent Number</label>
                <div class="col-md-4">

                    <input asp-for="OldAgentNmbr" class="form-control" />
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@*<script>
    $(document).ready(function () {
        $('#searchAgentButton').click(function () {
            var agentNmbr = $('#AgentNmbr').val();
            if (agentNmbr) {
                $.ajax({
                    url: '/Pension/GetAgentInfo', 
                    data: { agentNmbr: agentNmbr },
                    method: 'GET',
                    success: function (data) {
                        if (data) {
                            $('#AgentNm').val(data.agent_nm);
                        } else {
                            alert('Agent not found.');
                        }
                    },
                    error: function () {
                        alert('An error occurred while searching for the agent.');
                    }
                });
            }
        });
    });
</script>*@