@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Pension / </span> Transaction - Delete Claim</h4>

<div class="card mb-4">
    <div class="card-body">

        <form asp-controller="Pension" asp-action="TransactionDeletingClaim" method="post">
            <div class="mb-3 row">
                <label for="cerNmbr" class="col-md-2 col-form-label">Certificate Number</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="cerNmbr" name="cerNmbr" />
                </div>
                <label for="clientNm" class="col-md-2 col-form-label">Client Name</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="clientNm" name="clientNm" />
                </div>
            </div>
            <div class="mb-3 row">
                <label for="batchId" class="col-md-2 col-form-label">Batch ID</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="batchId" name="batchId" />
                </div>
            </div>

            <div class="mb-5">
                <nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="submit" class="btn btn-outline-dark mx-2">Delete</button>
                    </div>
                </nav>
            </div>
        </form>

    </div>
</div>
