@*//Modif|DwiPrasetyo*@

@model DPLK.ModelAcc.SpdFundMapping
@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "~/Views/Shared/DPLK_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Cash Management / </span> RostedCDVCRV</h4>

<div class="card mb-4">
    <div class="card-body">
        <div class="mb-3 row">
            <label for="html5-search-input" class="col-md-2 col-form-label">Voucher No </label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="searchString" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Fund" class="col-md-2 col-form-label">Fund</label>
            <div class="col-md-4">
                @Html.DropDownListFor(models => models.Fund, (IEnumerable<SelectListItem>)ViewData["GetFund"], "-- Select All --", new { @class = "form-control" })
                <span asp-validation-for="Fund" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="Coll" class="col-md-2 col-form-label">
                Correction?
            </label>
            <div class="col-md-4">
                <select asp-for="Coll" class="form-select">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <span asp-validation-for="Coll" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <form asp-action="BankList" method="get">
                    <div class="mb-3 row">
                        <label for="html5-date-input" class="col-md-2 col-form-label">Jurnal Date</label>
                        <div class="input-group mb-3">
                            <input class="form-control" type="date" value="" id="html5-date-input" />
                            <button class="btn btn-outline-secondary bx bx-search" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>NO.JURNAL</th>
                    <th>DATE</th>
                    <th>DESCRIPTION</th>
                    <th>Fund</th>
                    <th>Correction</th>
                </tr>
            </thead>
        </table>
        <tbody>
            @*@foreach (var flp in Model)*@
            @*{*@
                <tr>
                    <td>
                        <div class="dropdown">
                            <button type="button"
                                    class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                        <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="" asp-route-id="@*@flp.TrnsId*@"><i class="bx bx-detail me-1"></i>Detail</a>
                                <a class="dropdown-item" asp-action="" asp-route-id="@*@flp.TrnsId*@"><i class="bx bx-purchase-tag-alt me-1"></i>Voucher</a>
                           </div>
                        </div>
                    </td>
                </tr>
            </div>
        </div>

 @*//End Modif|DwiPrasetyo*@
