
@{
    ViewData["Title"] = "DPLK | Perta Life";
    Layout = "DPLK_Layout";
}

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Cash Management</span> Upload Data</h4>

<!-- File input -->
<div class="container">
    <div class="row">
        <div class="card mb-4">
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="html5-search-input" class="col-md-2 col-form-label">FILE NAME :</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control" type="file" id="formFile" />
                            <button class="btn btn-outline-secondary" type="submit">Browse ..</button>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-outline-secondary" type="submit">Upload Kepesertaan</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>




